<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Student Login</title>
  </head>
  <body>
    <header>
      <h1>Online Voting</h1>
    </header>
    <div class="wrapper">
      <h1 style="text-align: center; position: absolute; top: 193px; left: 43%">
        Student Login
      </h1>
      <div class="std-reg-wrapper">
        <form action="/login" method="post">
          <div class="fields">
            <label for="student_id">Enter Your ID</label>
            <input type="text" id="student_id" name="student_id" required />
          </div>
          <div class="fields">
            <label for="password">Enter Your Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <input type="submit" class="submit" value="Login" />
          <p>
            Don't have an acccount?<a href="{{url_for('register')}}"
              >Register</a
            >
          </p>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="alert" style="color: red">{{ messages[0] }}</div>
          {% endif %} {% endwith %}
        </form>
      </div>
    </div>
  </body>
</html>
