<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote Successful</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1 style="text-align: center">Online Voting</h1>
    </header>
    <div class="warpper-3">
      <h1 style="text-align: center; padding: 10px">Vote Successful</h1>
      <div
        class="message-wrapper"
        style="text-align: center; margin-top: 20px; font-size: 22px"
      >
        <p>You have successfully voted!</p>
        <p>Thank you for your participation.</p>
        <p><a href="{{ url_for('admin_logout') }}">Go back to login page</a></p>
      </div>
      <img
        src="../static/images/thanks-for-voting.jpg"
        alt=""
        style="width: 400px; position: absolute; left: 38%; top: 200px"
      />
    </div>
  </body>
</html>
